<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width initial-scale=1, shrink-to-fit=no" />
    <title>QConsole @ViewBag.Title</title>
    <link rel="icon" type="image/x-icon" href="~/images/icons/icon.ico">

    <link href="~/css/dashboard.css" rel="stylesheet">

    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css">
    <link href="~/css/Style.css" rel="stylesheet" type="text/css" />

    <link href="~/images/awesome/css/fontawesome.min.css" rel="stylesheet">
    @*<link href="~/images/awesome/css/brands.min.css" rel="stylesheet">*@
    <link href="~/images/awesome/css/solid.min.css" rel="stylesheet">

    <script src="~/lib/jquery/jquery.min.js" type="text/javascript"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>

</head>


@RenderSection("scripts", false)

<body>
    @await Component.InvokeAsync("NavigationMenu")

    

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 ml-sm-auto col-lg-2">
                @await Component.InvokeAsync("LeftNavigationMenu")
                <div class="overlay"></div>
            </div>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10">
                <div class="alertdiv alert alert-success">asdasssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss sssssssssssssssssssssssssssssssssssssssssssssssdasdad</div>
                @if (TempData["message"] != null)
                {
                    <div class="alert alert-success">@TempData["message"]</div>
                }
                @if (TempData["error"] != null)
                {
                    <div class="alert alert-warning">@TempData["error"]</div>
                }
                @RenderBody()
            </main>
        </div>
    </div>

    <footer class="footer card-footer text-muted">
        <div class="col-md-9 ml-sm-auto col-lg-10  text-right">
            <div class="d-inline">
                <h6 class="d-inline">Консоль управления пользователями и данными PostGIS</h6> © Zlatanov Evgeniy  2019
            </div>
        </div>
    </footer>

</body>
</html>


