@model IEnumerable<Layer>

<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>#</th>
                <th>Схема</th>
                <th>Таблица</th>
                <th>Описание</th>
                <th>Тип геометрии</th>
                <th>Лог изменений</th>
                <th>Аудит</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{ int rowNumber = 0;}
            @foreach (var p in Model)
            {
                <tr>
                    <td>@(rowNumber += 1)</td>
                    <td>@p.Table_schema</td>
                    <td>@p.Table_name</td>
                    <td>@p.Descript</td>
                    <td>@p.Geomtype</td>
                    <td>@p.Isupdater</td>
                    <td>@p.Islogger</td>
                </tr>
            }
        </tbody>
    </table>
</div>