@model LogRowViewModel



<div class="text-center">
    <h5>Аудит операций</h5>
</div>


<div asp-validation-summary="All" class="text-danger"></div>
<form asp-action="List" method="post">
    <div class="form-group">
        @*<label>Фильтр по диапазону дат: </label>*@
        <label asp-for="DateFrom"></label>
        <div><span asp-validation-for="DateFrom" class="text-danger"></span></div>
        <input asp-for="DateFrom" type="date" class="form-control" />
    </div>

    <div class="form-group">
        @*<label>по: </label>*@
        <label asp-for="DateTo"></label>
        <div><span asp-validation-for="DateTo" class="text-danger"></span></div>
        <input asp-for="DateTo" type="date" class="form-control" />
    </div>

    <div class="form-group">
        @*<label>Дополнительные условия</label>*@
        <label asp-for="SubQuery"></label>
        <div><span asp-validation-for="SubQuery" class="text-danger"></span></div>
        <input asp-for="SubQuery" class="form-control" />
    </div>

    <div class="text-center">
        <button class="btn btn-primary" type="submit">Применить</button>
    </div>
</form>

    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th></th>
                    <th>#</th>
                    <th>gid</th>
                    <th>Операция</th>
                    <th>Пользователь</th>
                    <th>Адрес</th>
                    <th>Дата изм.</th>
                    <th>Схема</th>
                    <th>Таблица</th>
                    <th>gidnum</th>
                    <th>Содержание</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{ int rowNumber = 0;}
                @foreach (var p in Model.LogRows)
                {
                    <tr>
                        <td><a asp-action="LogRowHistory" asp-controller="LogRow" asp-route-gid=@p.Gid>Детали</a></td>
                        <td>@(rowNumber += 1)</td>
                        <td>@p.Gid</td>
                        <td>@p.Action</td>
                        <td>@p.Username</td>
                        <td>@p.Address</td>
                        <td>@p.Timechange</td>
                        <td>@p.Tableschema</td>
                        <td>@p.Tablename</td>
                        <td>@p.Gidnum</td>
                        <td>@p.Context</td>
                    </tr>
                }
            </tbody>
        </table>


    </div>
