@model LogRowHistoryViewModel

<div>Текущая операция</div>
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>gid</th>
                <th>Операция</th>
                <th>Пользователь</th>
                <th>Адрес</th>
                <th>Дата изм.</th>
                <th>Схема</th>
                <th>Таблица</th>
                <th>gidnum</th>
                <th>Содержание</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.CurrentLogRow.Gid</td>
                <td>@Model.CurrentLogRow.Action</td>
                <td>@Model.CurrentLogRow.Username</td>
                <td>@Model.CurrentLogRow.Address</td>
                <td>@Model.CurrentLogRow.Timechange</td>
                <td>@Model.CurrentLogRow.Tableschema</td>
                <td>@Model.CurrentLogRow.Tablename</td>
                <td>@Model.CurrentLogRow.Gidnum</td>
                <td>
                    @{foreach (string str in @Model.CurrentLogRow.Context.Split(";"))
                        { @str<br> }
                    }

                </td>
            </tr>

        </tbody>
    </table>

    
</div>

@{ int rowNumber = 0;}
@{ if (@Model.HitoriedLogRows.Count() > 0)
    {
    <div>История операций</div>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>#</th>
                    <th>gid</th>
                    <th>Операция</th>
                    <th>Пользователь</th>
                    <th>Адрес</th>
                    <th>Дата изм.</th>
                    <th>Схема</th>
                    <th>Таблица</th>
                    <th>gidnum</th>
                    <th>Содержание</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

            @foreach (var p in Model.HitoriedLogRows)
            {
                <tr>
                    <td>@(rowNumber += 1)</td>
                    <td>@p.Gid</td>
                    <td>@p.Action</td>
                    <td>@p.Username</td>
                    <td>@p.Address</td>
                    <td>@p.Timechange</td>
                    <td>@p.Tableschema</td>
                    <td>@p.Tablename</td>
                    <td>@p.Gidnum</td>
                    <td>@{foreach (string str in @p.Context.Split(";"))
                        { @str<br> }
                        }</td>
                                        
                    </tr>
               }
            </tbody>
        </table>
    </div>

        }
    }
