@model GrantViewModel


<div class="card-header" id="accordionGrants">
    <div class="card">
        <h6>
            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseLayers" aria-expanded="true" aria-controls="collapseOne" style="text-decoration: none;">
                Слои:
            </button>
        </h6>
        <div id="collapseLayers" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionGrants">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="DataTableLayers" style="width:100%;" class="table table-sm table-hover text-nowrap no-padding-td">
                        <thead class="thead-dark">
                            <tr>
                                <th>#</th>
                                <th>Схема</th>
                                <th>Таблица</th>
                                <th>Описание</th>
                                <th>SELECT</th>
                                <th>UPDATE</th>
                                <th>INSERT</th>
                                <th>DELETE</th>
                                <th class="border-right" data-toggle="tooltip" title="GRANT SELECT(columns)">S+</th>
                                <th class="border-right" data-toggle="tooltip" title="GRANT UPDATE(columns)">U+</th>
                                <th class="border-right" data-toggle="tooltip" title="GRANT INSERT(columns)">I+</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                var rowNo = 0;
                            }
                            @foreach (var p in Model.LayersList)
                            {
                                <tr>
                                    <td>@(rowNo + 1)</td>
                                    <td>@p.Table_schema</td>
                                    <td class="td-main">@p.Table_name</td>
                                    <td>
                                        <table class="fixed-table">
                                            <tr>
                                                <td>@p.Descript</td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td class="text-center">@Html.CheckBoxFor(m => m.LayersList[@rowNo].IsSelect)</td>
                                    <td class="text-center">@Html.CheckBoxFor(m => m.LayersList[@rowNo].IsUpdate)</td>
                                    <td class="text-center">@Html.CheckBoxFor(m => m.LayersList[@rowNo].IsInsert)</td>
                                    <td class="text-center">@Html.CheckBoxFor(m => m.LayersList[@rowNo].IsDelete)</td>
                                    <td class="ellipsis-100 border-right">@p.ColumnsSelect</td>
                                    <td class="ellipsis-100 border-right">@p.ColumnsUpdate</td>
                                    <td class="ellipsis-100 border-right">@p.ColumnsInsert</td>
                                    <td>
                                        <button data-toggle="ajax-edit-columns" data-target="#grantsColumns"
                                                data-schema=@p.Table_schema data-table=@p.Table_name data-rolename=@ViewBag.Rolename data-url="@Url.Action("EditColumns")"
                                                class="btn btn-outline-secondary btn-sm px-1 py-0" style="border: 0">
                                            <i class="fas fa-pen"></i>
                                        </button>
                                    </td>
                                </tr>
                                @Html.HiddenFor(m => m.LayersList[@rowNo].Table_schema)
                                @Html.HiddenFor(m => m.LayersList[@rowNo].Table_name)
                                @Html.HiddenFor(m => m.LayersList[@rowNo].Descript)
                                rowNo++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>



    <div class="card">
        <h6>
            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseDicts" aria-expanded="true" aria-controls="collapseTwo" style="text-decoration: none;">
                Справочники:
            </button>
        </h6>
        <div id="collapseDicts" class="collapse" aria-labelledby="headingOne" data-parent="#accordionGrants">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="DataTableDicts" style="width:100%;" class="table table-sm table-hover text-nowrap no-padding-td">
                        <thead class="thead-dark">
                            <tr>
                                <th>#</th>
                                <th>Схема</th>
                                <th>Таблица</th>
                                <th>Описание</th>
                                <th>SELECT</th>
                                <th>UPDATE</th>
                                <th>INSERT</th>
                                <th>DELETE</th>
                                <th class="border-right" data-toggle="tooltip" title="GRANT SELECT(columns)">S+</th>
                                <th class="border-right" data-toggle="tooltip" title="GRANT UPDATE(columns)">U+</th>
                                <th class="border-right" data-toggle="tooltip" title="GRANT INSERT(columns)">I+</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                var rowNoD = 0;
                            }
                            @foreach (var p in Model.DictsList)
                            {
                                <tr>
                                    <td>@(rowNoD + 1)</td>
                                    <td>@p.Table_schema</td>
                                    <td class="td-main">@p.Table_name</td>
                                    <td>
                                        <table class="fixed-table">
                                            <tr>
                                                <td>@p.Descript</td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td class="text-center">@Html.CheckBoxFor(m => m.DictsList[@rowNoD].IsSelect)</td>
                                    <td class="text-center">@Html.CheckBoxFor(m => m.DictsList[@rowNoD].IsUpdate)</td>
                                    <td class="text-center">@Html.CheckBoxFor(m => m.DictsList[@rowNoD].IsInsert)</td>
                                    <td class="text-center">@Html.CheckBoxFor(m => m.DictsList[@rowNoD].IsDelete)</td>
                                    <td class="ellipsis-100 border-right">@p.ColumnsSelect</td>
                                    <td class="ellipsis-100 border-right">@p.ColumnsUpdate</td>
                                    <td class="ellipsis-100 border-right">@p.ColumnsInsert</td>
                                    <td>
                                        <button data-toggle="ajax-edit-columns" data-target="#grantsColumns"
                                                data-schema=@p.Table_schema data-table=@p.Table_name data-rolename=@ViewBag.Rolename data-url="@Url.Action("EditColumns")"
                                                class="btn btn-outline-secondary btn-sm px-1 py-0" style="border: 0">
                                            <i class="fas fa-pen"></i>
                                        </button>
                                    </td>
                                </tr>
                                @Html.HiddenFor(m => m.DictsList[@rowNoD].Table_schema)
                                @Html.HiddenFor(m => m.DictsList[@rowNoD].Table_name)
                                @Html.HiddenFor(m => m.DictsList[@rowNoD].Descript)
                                rowNoD++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>


            @*<script src="~/js/editGrantsColumns.js"></script>*@


            <script>
                $(function () {

                    $('button[data-toggle="ajax-edit-columns"]').click(function (event) {
                        event.preventDefault();

                        var url = $(this).data('url');
                        var v_schema = $(this).data('schema');
                        var v_table = $(this).data('table');
                        var v_rolename = $(this).data('rolename');
                        $.get(url, { schema: v_schema, table: v_table, rolename: v_rolename }).done(function (data) {
                            $('#modal-placeholder-columns').html(data);
                            $('#modal-placeholder-columns > .modal').modal('show');
                        });
                    });

                });
            </script>
