@model GrantColumnsViewModel



<!-- Modal -->
<div class="modal fade" id="grantsColumns" tabindex="-1" role="dialog" aria-labelledby="grantsColumnsLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="grantsColumnsLabel">Привилегии для атрибутов</h5>
                <button type="button" class="close" data-dismiss-col="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="EditColumns">
                    <div class="table-responsive">
                        <table class="table table-sm text-nowrap ">
                            <thead class="thead-dark">
                                <tr>
                                    <th>#</th>
                                    <th>Поле</th>
                                    <th>SELECT</th>
                                    <th>UPDATE</th>
                                    <th>INSERT</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var rowNum = 0;
                                }
                                @foreach (var n in Model.Columns)
                                {
                                    <tr>
                                        <td>@(rowNum + 1)</td>
                                        <td>@n.Column_name</td>
                                        <td>@Html.CheckBoxFor(m => m.Columns[@rowNum].IsSelect)</td>
                                        <td>@Html.CheckBoxFor(m => m.Columns[@rowNum].IsUpdate)</td>
                                        <td>@Html.CheckBoxFor(m => m.Columns[@rowNum].IsInsert)</td>
                                    </tr>
                                    @Html.HiddenFor(m => m.Columns[rowNum].Column_name)
                                    rowNum++;
                                }
                                @Html.HiddenFor(m => m.SchemaName)
                                @Html.HiddenFor(m => m.TableName)
                                @Html.HiddenFor(m => m.Rolename)
                            </tbody>
                        </table>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-primary" data-save-col="modal">Сохранить</button>
            </div>
        </div>
    </div>
</div>


<script>
    var placeholderElement_col = $('#modal-placeholder-columns');
    $('button[data-save-col="modal"]').click(function (event) {
        event.preventDefault();

        var form = $(this).parents('.modal').find('form');
        var actionUrl = form.attr('action');
        var model = form.serialize();

        //var model_data = JSON.stringify(model);

        $.ajax({
            type: "POST",
            url: actionUrl,
            dataType: 'json',
            data: model,
            crossDomain: true,
            success: function (returndata) {
                if (returndata.ok) {
                    //if (returndata.mobile == true) {
                    //    window.location = returndata.newurl
                    //}
                    //else {
                    //    placeholderElement_col.find('.modal').modal('hide');
                    //}
                    placeholderElement_col.find('.modal').modal('hide');
                    reloadRights();
                }
                else {
                    console.log('error');
                    console.log(returndata.message);
                }

            }
        });
    });
</script>

<script>
    function reloadRights() {
        var placeholderElement = $('#modal-placeholder');
        var form = placeholderElement.find('form');
        var url = form.attr('action')
        var v_userid = document.getElementById('userid_form').value;
        var v_rolename = document.getElementById('rolename_form').value;
        var v_part = new Boolean(true);

        $.get(url, { userid: v_userid, rolename: v_rolename, ispart: v_part }).done(function (data) {
            $('#RightsTable').html(data);
        });
    };
</script>