@model IEnumerable<User>
<script src="~/lib/bootstrap/js/bootstrap.min.js"></script>

<div id="splitter" class="splitter">
    <div id="splitterGroups" class="">

        <div class="card-header">
            <h5>Группы пользователей</h5>
        </div>

        <div class="table-responsive">
            <table id="TableRoles" class="table table-sm table-hover text-nowrap">
                <thead class="thead-dark">
                    <tr>
                        <th>#</th>
                        <th>Роль</th>
                        <th>Описание</th>
                    </tr>
                </thead>
                <tbody>
                    @{ int rowNumber = 0;}
                    @foreach (var p in Model)
                    {
                        <tr class="ButtonClass" data-toggle="ajax-edit-group" data-rolename=@p.Usename data-userid=@p.Usesysid data-url="@Url.Action("EditGroup")">
                            <td>@(rowNumber += 1)</td>
                            <td data-toggle="tooltip" title="@p.Descript">@p.Usename</td>
                            <td>
                                <table class="fixed-table">
                                    <tr>
                                        <td>@p.Descript</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>

    <div id="separator" class="separator bg-light"></div>
    <div id="splitterDetails" class="">
        <div id="detailsContainer">

        </div>
    </div>

</div>

<script src="~/js/splitter.js"></script>
<script>
    splitter("splitterGroups", "splitterDetails", "separator", "splitter", true, "H");
</script>

<script>
    /*
     * remove right sidebar
     */
    $(function () {
        $('.sidebar-right').removeClass("col-lg-2");
        $('main').removeClass("col-lg-8");
        $('main').addClass("col-lg-10");
    });
    
</script>

<script src="~/js/editGroupPartial.js"></script>