@model IEnumerable<User>
<script src="~/lib/bootstrap/js/bootstrap.min.js"></script>




@*Modal placeholder*@
<div id="modal-placeholder"></div>
<div id="modal-placeholder-columns"></div>

<div id="splitter" class="">
    <div id="splitterGroups" class="">

        <div class="card-header">
            <h5>Группы пользователей</h5>
        </div>
        <div id="divtable">
            <div class="table-responsive">
                <table id="TableRoles" class="table table-sm table-hover text-nowrap">
                    <thead class="thead-dark">
                        <tr>
                            <th>#</th>
                            <th>Роль</th>
                            <th>Описание</th>
                            <th class="d-none">Роль</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{int rowNumber = 0; }
                        @{bool isRowRole = true; }
                        @foreach (var p in Model)
                        {
                            if (isRowRole)
                            {
                                if (!@p.Isrole)
                                {
                                    isRowRole = false;
                                    rowNumber = 0;
                                }
                            }
                            <tr class="ButtonClass" data-toggle="ajax-edit-role" data-target="privEdit" data-rolename=@p.Usename data-userid=@p.Usesysid data-url="@Url.Action("EditGroup")">
                                <td>@(rowNumber += 1)</td>
                                <td class="td-main" data-toggle="tooltip" title="@p.Descript">@p.Usename</td>
                                <td>
                                    <table class="fixed-table">
                                        <tr>
                                            <td>@p.Descript</td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="isrole d-none">@p.Isrole</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>

</div>



<script>
    $(function () {
        $('tr[data-toggle="ajax-edit-role"]').click(function (event) {
            event.preventDefault();
            var url = $(this).data('url');
            var v_userid = $(this).data('userid');
            var v_rolename = $(this).data('rolename');
            $.get(url, { userid: v_userid, rolename: v_rolename }).done(function (data) {
                $('#modal-placeholder').html(data);
                $('#modal-placeholder > .modal').modal('show');
            });
        });

    });
</script>

<script type="text/javascript">
    var placeholderElement = $('#modal-placeholder');
    placeholderElement.on('click', '[data-saveprivs="modal"]', function (event) {
        event.preventDefault();

        var form = $(this).parents('.modal').find('form');
        var actionUrl = form.attr('action');
        var dataToSend = form.serialize();

        $.post(actionUrl, dataToSend).done(function (data) {

            placeholderElement.find('.modal').modal('hide');
        });
    });
</script>


<script>
    //исправление бага прокрутки при использовании нескольких модальных окон
    var bootstrapModalCounter = 0;
    $(document).on('hidden.bs.modal', '.modal', function (event) {
        --bootstrapModalCounter;
        if (bootstrapModalCounter > 0) {
            $('body').addClass('modal-open');
        }
    });
    $(document).on('show.bs.modal', '.modal', function (event) {
        ++bootstrapModalCounter;
    });
</script>




<script>
    $('#TableRoles tr').each(function () {

        var isFlagged = $(this).find(".isrole").html();
        if (isFlagged == 'True') {
            $(this).addClass('yellowrow');
        }
    });
</script>


@*<script>
    $(document).on('show.bs.modal', '.modal', function (event) {
        var zIndex = 1040 + (10 * $('.modal:visible').length);
        $(this).css('z-index', zIndex);
        setTimeout(function () {
            $('.modal-backdrop').not('.modal-stack').css('z-index', zIndex - 1).addClass('modal-stack');
        }, 0);
    });
</script>*@
