
@model LayerDictManageViewModel

<h5 class="card-header mb-2">Справочники</h5>

<div class="table-responsive container">
    <table class="table table-striped table-sm">
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>Схема</th>
                <th>Таблица</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.DictList.Count() == 0)
            {
                <tr><td colspan="4" class="text-center">Нет записей</td></tr>
            }
            else
            {
                int rowNumber = 0;
                foreach (var p in Model.DictList)
                {
                    <tr>
                        <td>@(rowNumber += 1)</td>
                        <td>@p.Schema_name</td>
                        <td>@p.Table_name</td>
                        <td class="text-right">
                            <a asp-action="RemoveDictManage" asp-route-id=@p.Id class="btn btn-light btn-sm" onclick="return confirm('Подтвердите удаление');">
                                Убрать <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<hr />

<div asp-validation-summary="All" class="text-danger"></div>
<form asp-action="AddDictManage" method="post">
    <div class="card-body container">
        <div class="form-group">
            <label asp-for="@Model.SchemaName"></label>
            <div><span asp-validation-for="@Model.SchemaName" class="text-danger"></span></div>
            <input asp-for="@Model.SchemaName" class="form-control form-control-sm" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.TableName"></label>
            <div><span asp-validation-for="@Model.TableName" class="text-danger"></span></div>
            <input asp-for="@Model.TableName" class="form-control form-control-sm" />
        </div>

        <div class="text-center">
            <button class="btn btn-primary" type="submit">Добавить</button>
        </div>
    </div>
</form>