@model Layer

<h6 class="card-header" mb-2>@ViewBag.Title</h6>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<form asp-action="EditLayer" asp-controller="Layer" method="post">
    <div class="form-group">
        <label asp-for="@Model.Table_schema"></label>
        <div><span asp-validation-for="@Model.Table_schema" class="text-danger"></span></div>
        <input asp-for="@Model.Table_schema" class="form-control form-control-sm" readonly />
    </div>

    <div class="form-group">
        <label asp-for="@Model.Table_name"></label>
        <div><span asp-validation-for="@Model.Table_name" class="text-danger"></span></div>
        <input asp-for="@Model.Table_name" class="form-control form-control-sm" readonly />
    </div>

    <div class="form-group">
        <label asp-for="@Model.Descript"></label>
        <div><span asp-validation-for="@Model.Descript" class="text-danger"></span></div>
        <input asp-for="@Model.Descript" class="form-control form-control-sm" />
    </div>

    @if (@Model.Geomtype.Length > 0)
    {
        <div class="form-group">
            <label asp-for="@Model.Geomtype"></label>
            <div><span asp-validation-for="@Model.Geomtype" class="text-danger"></span></div>
            <input asp-for="@Model.Geomtype" class="form-control form-control-sm" readonly />
        </div>
    }


    <div class="form-check">
        <input type="checkbox" asp-for="@Model.Isupdater" class="form-check-input" id="role_checkbox2" />
        <label asp-for="@Model.Isupdater"></label>
        <div><span asp-validation-for="@Model.Isupdater" class="text-danger"></span></div>
    </div>

    <div class="form-check">
        <input type="checkbox" asp-for="@Model.Islogger" class="form-check-input" id="role_checkbox2" />
        <label asp-for="@Model.Islogger"></label>
        <div><span asp-validation-for="@Model.Islogger" class="text-danger"></span></div>
    </div>


    <div class="text-center">
        <button class="btn btn-primary" type="submit">Сохранить</button>
        <a asp-action="Index" class="btn btn-secondary">Отмена</a>
    </div>

</form>