@model IEnumerable<LayerGrants>

@if (Model != null)
{
    <br />

    <h6 class="card-header" mb-2>Привилегии</h6>
    <div class="table-responsive">
        <table class="table table-sm border-bottom">
            <thead class="thead-dark">
                <tr>
                    <th>#</th>
                    <th>Роль</th>
                    <th class="text-center">SELECT</th>
                    <th class="text-center">UPDATE</th>
                    <th class="text-center">INSERT</th>
                    <th class="text-center">DELETE</th>
                    <th class="border-right border-left" data-toggle="tooltip" title="GRANT SELECT(columns)">S+</th>
                    <th class="border-right" data-toggle="tooltip" title="GRANT UPDATE(columns)">U+</th>
                    <th class="border-right" data-toggle="tooltip" title="GRANT INSERT(columns)">I+</th>

                </tr>
            </thead>
            <tbody>
                @if (Model.Count() == 0)
                {
                    <tr><td colspan="10" class="text-center">Нет записей</td></tr>
                }
                else
                {
                    int rowNumber = 0;
                    foreach (var p in Model)
                    {
                        <tr>
                            <td>@(rowNumber += 1)</td>
                            <td class="td-main">@p.groname</td>
                            <td>@p.isselect</td>
                            <td>@p.isupdate</td>
                            <td>@p.isinsert</td>
                            <td>@p.isdelete</td>
                            <td class="border-right border-left">@p.columns_select</td>
                            <td class="border-right">@p.columns_update</td>
                            <td class="border-right">@p.columns_insert</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        
    </div>
}

<script>
            $('td:contains("True")').html("<i class='fa fa-check' aria-hidden='true' style='color: green;'></i>").addClass("text-center");
            $('td:contains("False")').html("<i class='fa fa-times' aria-hidden='true' style='color: #cccccc;'></i>").addClass("text-center");
</script>

