@model IEnumerable<Layer>

<div class="table-responsive">
    <table class="table table-sm table-hover text-nowrap">
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>Таблица</th>
                <th>Схема</th>
                <th>Описание</th>
                <th>Тип геометрии</th>
                <th>Логгер</th>
                <th>Аудит</th>
                <th>Файлы</th>
            </tr>
        </thead>
        <tbody>
            @{ int rowNumber = 0;}
            @foreach (var p in Model)
            {
                <tr class="ButtonClass" data-toggle="ajax-layeredit-modal" data-target="#layerEdit" data-schema=@p.Table_schema data-table=@p.Table_name data-geom=@p.Geomtype data-url="@Url.Action("EditLayer")">

                    <td>@(rowNumber += 1)</td>
                    <td class="td-main">@p.Table_name</td>
                    <td>@p.Table_schema</td>

                    <td>
                        <table class="fixed-table">
                            <tr>
                                <td>@p.Descript</td>
                            </tr>
                        </table>
                    </td>
                    <td>@p.Geomtype</td>
                    <td>@p.Isupdater</td>
                    <td>@p.Islogger</td>
                    <td>@(@p.Docfiles_table.Length > 0) </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    $('td:contains("True")').html("<i class='fa fa-check' aria-hidden='true' style='color: green;'></i>").addClass("text-center");
    $('td:contains("False")').html("<i class='fa fa-times' aria-hidden='true' style='color: #cccccc;'></i>").addClass("text-center");
</script>


<script>
    $(function () {
        var placeholderElement = $('#modal-placeholder');
        $('tr[data-toggle="ajax-layeredit-modal"]').click(function (event) {
            event.preventDefault();
            var url = $(this).data('url');
            var v_schema = $(this).data('schema');
            var v_table = $(this).data('table');
            var v_geom = $(this).data('geom');
            $.get(url, { schemaname: v_schema, tablename: v_table, geomtype: v_geom }).done(function (data) {
                $('#modal-placeholder').html(data);
                $('#modal-placeholder > .modal').modal('show');
            });
        });

    });
</script>


